[Unit]
Description=Run power monitor every minute
Requires=power-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=power-monitor.service

[Install]
WantedBy=timers.target
